# Distribution over countries
__Table S2__ in the manuscript.

In [1]:
rm(list= ls())

In [4]:
library(dplyr)
library(ggplot2)
library(readxl)
library(stringr)

In [5]:
paintings= read.csv2(file.path('Data', 'PaintingsWithCountryInfo-EN.csv'))

# converting Netherlands to a single location
paintings <- paintings %>%
    mutate(OriginCountry= str_replace(OriginCountry, '^Netherlands.*', 'Netherlands'))

country.count <- paintings %>% 
    dplyr::group_by(OriginCountry) %>%
    dplyr::summarize(count= n()) %>%
    dplyr::arrange(-count)
country.count

   OriginCountry  count
1  No information 3120
2  Italy          1990
3  France         1738
4  Germany        1050
5  Netherlands     935
6  Great Britain   375
7  Spain           320
8  Austria         227
9  Russia           89
10 China            85
11 Switzerland      79
12 USA              66
13 Romania          59
14 India            58
15 Egypt            29
16 Bohemia          25
17 Turkey           17
18 Byzantine        16
19 Greece           12
20 Denmark          11
21 Japan            10
22 Sweden            8
23 Ireland           7
24 Macedonia         5
25 Norway            5
26 Orient            5
27 Belgium           4
28 Poland            4
29 Serbia            3
30 Africa            2
31 Asia Minor        2
32 Hungary           2
33 Persian           2
34 Syria             2
35 Bulgaria          1
36 Finland           1
37 Portugal          1